*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #162D3D;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #9B9B9B;
}

.form {
  background: #ffffff;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #162D3D;
  color: #ffffff;
}
.tab-group .active a {
  background: #162D3D;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #162D3D;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: #9B9B9B;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 18px;
}
label .req {
  margin: 2px;
  color: #162D3D;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #162D3D;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #9B9B9B;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #162D3D;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 30px;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #162D3D;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
.top-margin {
    margin-top: 96px;
}

.bottom-margin {
    margin-bottom: 96px;
}

.navbar-brand>img {
    width: 70%;
    margin-top: -12px;  
}
.main-menu {
    background-color: transparent;
    border-radius: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.main-menu.tiny {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; left: 0; right: 0; z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: #fff;
    height:80px;
}

.main-menu.tiny .navbar-nav > li > a {
    color:#666;
}


.main-menu .navbar-nav > li > a {
    padding: 30px 13px 25px 13px;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    border-bottom: 3px solid transparent;
    text-transform:uppercase;
} 
 
.main-menu.tiny .navbar-nav > li.active > a {
    color: #162D3D;
}
.navbar-default .navbar-nav > .active > a {
    background-color: transparent;
    color: #E03561;
}
.main-menu .navbar-nav > li > a:hover {
    color: #E03561; 
}

.main-menu .navbar-nav > .active > a {
    background-color: transparent;
    color: #E03561;
    border-bottom: 3px solid #E03561;
}

/* bannar Section CSS */
.navbar {
    margin-bottom: 0px;
    border: none;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-top: 20px;
}


